* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Poppins";
	font-size: 16px;
}

.nav-bar {
	margin: 0vh 10vh 0vh 10vh
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  font-family: 'Poppins';
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

header	{
	background-color: #222;
	color: white;
}

header::after {
	content: "";
	display: table;
	clear: both;
}

.GCpedia {
	color: white;
	float: left;
	padding-top: 13px;
	padding-bottom: 13px;
	font-family: "Poppins";
	text-decoration: none;
	position: relative;
}

.GCpedia:hover {
	color: skyblue;
}

.GCpedia::before {
	content: "";
	display: block;
	height: 5px;
	background: skyblue;
	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 200ms;
}

.GCpedia:hover::before {
	width: 100%;
}

nav {
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 50px;
	padding-top: 13px;
	padding-bottom: 13px;

	position: relative;
}

div a:hover {
	color: paleturquoise;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Poppins";
	border-right-width: 10px;
}

nav a:hover {
	color: skyblue;
}

h2 a:hover {
	color: black;
}

nav a::before {
	content: "";
	display: block;
	height: 5px;
	background: skyblue;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 200ms;
}

nav a:hover::before {
	width: 100%;
}

.Banner {
    /* The image used */
    background-image: url("http://www.gcpedia.gc.ca/gcwiki/images/0/03/ISM_Banner1.jpg");

    /* Set a specific height */
    height: 550px; 
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: absolute;
    background-repeat: no-repeat;
}

.Banner2 {
    /* The image used */
    background-image: url("http://www.gcpedia.gc.ca/gcwiki/images/6/62/DSB-SMO_Banner.jpg");

    /* Set a specific height */
    height: 550px; 
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: absolute;
    background-repeat: no-repeat;
}

.Banner3 {
    /* The image used */
    background-image: url("http://www.gcpedia.gc.ca/gcwiki/images/b/bb/Community_3.jpg");

    /* Set a specific height */
    height: 550px; 
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: absolute;
    background-repeat: no-repeat;
}

.Banner4 {
    /* The image used */
    background-image: url("http://www.gcpedia.gc.ca/gcwiki/images/0/05/Data_Centre.jpg");

    /* Set a specific height */
    height: 550px; 
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: absolute;
    background-repeat: no-repeat;
}

.Banner5 {
	/* The image used */
    background-image: url("RPS-SMO_1.jpg");

    /* Set a specific height */
    height: 550px; 
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: absolute;
    background-repeat: no-repeat;
}

div.color-overlay h1.title {
	color: black;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	font-family: "Poppins";
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 218px;
	padding-bottom: 218px;
}

.color-overlay {
	background-color: lavender;
	position: absolute;
	height: 550px;
	width: 100%;
	opacity: 0.6;
}

p {
	font-family: "Dosis";
	font-size: 20px;
}

p a {
	color: turquoise;
	text-decoration: none;	
}

li a {
	text-decoration: none;
}

div.center-text li {
	font-family: "Dosis";
	font-size: 20px;
}

ul.list {
	font-family: "Dosis";
	font-size: 20px;
}

div.center-text li a {
	color: turquoise;
}

div.center-text li a:hover {
	color: paleturquoise;
}

h1.ISMI {
	padding: 70px 0px 0px 0px;
	font-size: 36px;
	max-width: 65%;
	margin: 0 auto;
	color: white;
}

h1.title {
	color: black;
	font-size: 64px;
	text-transform: uppercase;
	text-align: center;
	font-family: "Poppins";
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 218px;
	padding-bottom: 218px;
}

h1.title-long {
	color: black;
	font-size: 64px;
	text-transform: uppercase;
	text-align: center;
	font-family: "Poppins";
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
	padding-bottom: 180px;
}

.section1 {
	color: white;
	background-color: #222;
}

.section2 {
	color: black;
	background-color: lavender;
}

.align-left {
	padding: 10vh 0vh 10vh 10vh;
	width: 40%;
	text-align: justify;
}

.align-right {
	padding: 10vh 10vh 10vh 0vh;
	float: right;
	width: 50%;
}

.align-right2 {
	padding: 10vh 10vh 10vh 0vh;
	text-align: justify;
	max-width: 70%;
	display: block;
	margin: 0 auto;
}

.center-text {
	max-width: 65%;
	text-align: justify;
	margin: 0 auto;
	display: block;
	padding: 0px 0px 70px 0px;
}

.center-text h2 {
	text-align: left;
}

section.Contact {
	text-align: center;
	text-transform: uppercase;
	background-color: white;
}

section.Contact a:hover {
	color: paleturquoise;
}

ul li.sub-list-item {
	margin-left: 10vh;
}

.about {
	padding-bottom: 50px;
}

section.footer {
	margin-left: 10vh;
	margin-right: 10vh; 
}

nav a.footer-nav {
	color: white;
}

h2 {
	font-size: 20px;
}

a.button {
  	color: black;
  	background-color: yellowgreen;
  	text-decoration: none;
  	text-transform: uppercase;
  	font-family: "Poppins";
	padding: 18px 26px 18px 26px;
	margin: 0 auto;
	text-align: center;
}

.center {
	background-color: lavender;
	padding: 10vh 0vh 5vh 0vh;
}

.Contact {
	width: 100%;
	color: white;
	padding: 60px 0px;
	background-color: white;
}

div.Contact h2 {
	margin: 0 auto;
	text-align: center;
}

div.center-text li {
	margin-left: 50px;
}

div.center-text img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/*-------footer------*/
.ISM-logo {
	width: 140px;
	margin-left: 50px;
}

footer {
	background-color: lavender;
	color: black;
	width: 100%;
}

div.wrapper p {
	float: right;
	font-size: 110%;
	padding: 25px 0px;
	display: block;
	margin-right: 50px;
	margin-left: 50px;
}

nav.footer {
	margin-left: 10vh;
	margin-right: 10vh;
}

div.Contact {
	color: #222;
	text-align: center;
	margin: 0 auto;
}
